In [114]:
import pandas as pd

In [115]:
data = pd.read_csv('train.csv')

In [116]:
data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,3,4,5,6,7,8,9,10,11,1

In [117]:
data.isna().sum()

loan_id                     0
source                      0
financial_institution       0
interest_rate               0
unpaid_principal_bal        0
loan_term                   0
origination_date            0
first_payment_date          0
loan_to_value               0
number_of_borrowers         0
debt_to_income_ratio        0
borrower_credit_score       0
loan_purpose                0
insurance_percent           0
co-borrower_credit_score    0
insurance_type              0
m1                          0
m2                          0
m3                          0
m4                          0
m5                          0
m6                          0
m7                          0
m8                          0
m9                          0
m10                         0
m11                         0
m12                         0
m13                         0
dtype: int64

In [118]:
data.drop(['loan_id'],axis=1,inplace =True )

In [119]:
data['financial_institution'] = data.financial_institution.str.split(expand = True)

In [120]:
data['financial_institution'] = data.financial_institution.str.replace(',',' ')

In [121]:
data.financial_institution.unique()

array(['Turner ', 'Swanson ', 'Thornton-Davis', 'OTHER', 'Browning-Hart',
       'Richardson', 'Edwards-Hoffman', 'Richards-Walters', 'Martinez ',
       'Miller ', 'Anderson-Taylor', 'Taylor ', 'Nicholson', 'Cole ',
       'Sanchez ', 'Sanchez-Robinson', 'Suarez', 'Romero ',
       'Chapman-Mcmahon'], dtype=object)

In [122]:
from sklearn import preprocessing

In [123]:
from sklearn.preprocessing import LabelEncoder

In [124]:
data.columns

Index(['source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12',
       'm13'],
      dtype='object')

In [125]:
data_new = pd.get_dummies(data, columns=['financial_institution'])

#mergedata = mergedata.drop(['sex','region','smoker'],axis=1)
#END ENCODING BLOCK

In [126]:
data_new.head()

,source,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,...,financial_institution_Richards-Walters,financial_institution_Richardson,financial_institution_Romero,financial_institution_Sanchez,financial_institution_Sanchez-Robinson,financial_institution_Suarez,financial_institution_Swanson,financial_institution_Taylor,financial_institution_Thornton-Davis,financial_institution_Turner
0,Z,4.250,214000,360,2012-03-01,05/2012,95,1.0,22.0,694.0,...,0,0,0,0,0,0,0,0,0,1
1,Y,4.875,144000,360,2012-01-01,03/2012,72,1.0,44.0,697.0,...,0,0,0,0,0,0,1,0,0,0
2,Z,3.250,366000,180,2012-01-01,03/2012,49,1.0,33.0,780.0,...,0,0,0,0,0,0,0,0,1,0
3,X,4.750,135000,360,2012-02-01,04/2012,46,2.0,44.0,633.0,...,0,0,0,0,0,0,0,0,0,0
4,X,4.750,124000,360,2012-02-01,04/2012,80,1.0,43.0,681.0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
data_new.source.unique()

array(['Z', 'Y', 'X'], dtype=object)

In [128]:
def source(a):
    if a == 'X':
        return 1
    elif a == 'Y':
        return 2
    else:
        return 3

In [129]:
data_new.interest_rate.dtypes

dtype('float64')

In [130]:
data_new['source']=data_new['source'].apply(source)

In [131]:
data_new.head()

,source,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,...,financial_institution_Richards-Walters,financial_institution_Richardson,financial_institution_Romero,financial_institution_Sanchez,financial_institution_Sanchez-Robinson,financial_institution_Suarez,financial_institution_Swanson,financial_institution_Taylor,financial_institution_Thornton-Davis,financial_institution_Turner
0,3,4.250,214000,360,2012-03-01,05/2012,95,1.0,22.0,694.0,...,0,0,0,0,0,0,0,0,0,1
1,2,4.875,144000,360,2012-01-01,03/2012,72,1.0,44.0,697.0,...,0,0,0,0,0,0,1,0,0,0
2,3,3.250,366000,180,2012-01-01,03/2012,49,1.0,33.0,780.0,...,0,0,0,0,0,0,0,0,1,0
3,1,4.750,135000,360,2012-02-01,04/2012,46,2.0,44.0,633.0,...,0,0,0,0,0,0,0,0,0,0
4,1,4.750,124000,360,2012-02-01,04/2012,80,1.0,43.0,681.0,...,0,0,0,0,0,0,0,0,0,0

In [132]:
data_new.drop(['origination_date','first_payment_date'],axis=1,inplace =True)

In [133]:
data_new.shape

(116058, 44)

In [134]:
data_new.loan_purpose.head()

0    C86
1    B12
2    B12
3    B12
4    C86
Name: loan_purpose, dtype: object

In [135]:
# Import label encoder 
from sklearn import preprocessing 

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in column 'species'. 
data_new['loan_purpose']= label_encoder.fit_transform(data_new['loan_purpose']) 

data_new['loan_purpose'].unique()

array([2, 1, 0], dtype=int64)

In [136]:
data_new.shape

(116058, 44)

In [137]:
from sklearn import preprocessing

In [138]:
label = preprocessing.MinMaxScaler()

In [139]:
new_label = label.fit_transform(data_new)

C:\Users\Geetha\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [140]:
cols=data_new.columns

In [141]:
indicator = pd.DataFrame(new_label,columns=cols)

In [142]:
indicator.columns

Index(['source', 'interest_rate', 'unpaid_principal_bal', 'loan_term',
       'loan_to_value', 'number_of_borrowers', 'debt_to_income_ratio',
       'borrower_credit_score', 'loan_purpose', 'insurance_percent',
       'co-borrower_credit_score', 'insurance_type', 'm1', 'm2', 'm3', 'm4',
       'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13',
       'financial_institution_Anderson-Taylor',
       'financial_institution_Browning-Hart',
       'financial_institution_Chapman-Mcmahon', 'financial_institution_Cole ',
       'financial_institution_Edwards-Hoffman',
       'financial_institution_Martinez ', 'financial_institution_Miller ',
       'financial_institution_Nicholson', 'financial_institution_OTHER',
       'financial_institution_Richards-Walters',
       'financial_institution_Richardson', 'financial_institution_Romero ',
       'financial_institution_Sanchez ',
       'financial_institution_Sanchez-Robinson',
       'financial_institution_Suarez', 'financial_institution_Swanson ',
       'financial_institution_Taylor ', 'financial_institution_Thornton-Davis',
       'financial_institution_Turner '],
      dtype='object')

In [143]:
x = indicator.drop(['m13'],axis = 1)

In [144]:
y=indicator['m13']

In [145]:
indicator['m13'].value_counts()

0.0    115422
1.0       636
Name: m13, dtype: int64

In [146]:
from sklearn.model_selection import train_test_split

In [147]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= .4)

In [148]:
from sklearn.ensemble import GradientBoostingClassifier #For Classification

In [149]:
model= GradientBoostingClassifier(random_state=20,learning_rate=1.0)

In [150]:
x_train.shape

(69634, 43)

In [151]:
model.fit(x_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=1.0, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=20,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [152]:
y_pred = model.predict(x_test)

In [153]:
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [154]:
from sklearn import metrics

In [155]:
metrics.f1_score(y_test,y_pred)

0.5068027210884353

In [157]:
impf=model.feature_importances_

In [158]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= .4)

In [159]:
from sklearn.model_selection import GridSearchCV

In [160]:
param_test2 = {'max_depth':range(5,16,2), 'min_samples_split':range(200,1001,200)}
gsearch2 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=60, max_features='sqrt', subsample=0.8, random_state=10), 
param_grid = param_test2, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch2.fit(x_train,y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features='sqrt', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_sam...      subsample=0.8, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False),
       fit_params=None, iid=False, n_jobs=4,
       param_grid={'max_depth': range(5, 16, 2), 'min_samples_split': range(200, 1001, 200)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [164]:
x_test.shape

(46424, 43)

In [165]:
y_pred=gsearch2.predict(x_test)

In [166]:
y = pd.DataFrame(y)

In [167]:
metrics.f1_score(y_pred,y_test)

0.5296803652968037

In [168]:
metrics.accuracy_score(y_pred,y_test)

0.995562640013786

In [169]:
import pickle

In [189]:
pickle.dump(model,open('loan_analytics_Vidhya_grb .pk','wb'))

In [171]:
import pandas as pd

In [172]:
data = pd.read_csv('test.csv')

In [173]:
data.drop(['loan_id'],axis=1,inplace =True )

In [174]:
data['financial_institution'] = data.financial_institution.str.split(expand = True)

In [175]:
data['financial_institution'] = data.financial_institution.str.replace(',',' ')

In [176]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [177]:
data_new = pd.get_dummies(data, columns=['financial_institution'])

#mergedata = mergedata.drop(['sex','region','smoker'],axis=1)
#END ENCODING BLOCK

In [178]:
def source(a):
    if a == 'X':
        return 1
    elif a == 'Y':
        return 2
    else:
        return 3

In [179]:
data_new['source']=data_new['source'].apply(source)

In [180]:
data_new.drop(['origination_date','first_payment_date'],axis=1,inplace =True)

In [181]:
# Import label encoder 
from sklearn import preprocessing 

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in column 'species'. 
data_new['loan_purpose']= label_encoder.fit_transform(data_new['loan_purpose']) 

data_new['loan_purpose'].unique()

array([0, 2, 1], dtype=int64)

In [182]:
from sklearn import preprocessing
label = preprocessing.MinMaxScaler()

In [183]:
new_label = label.fit_transform(data_new)
cols=data_new.columns

C:\Users\Geetha\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [184]:
indicator = pd.DataFrame(new_label,columns=cols)

In [185]:
indicator.head()

,source,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,...,financial_institution_Richards-Walters,financial_institution_Richardson,financial_institution_Romero,financial_institution_Sanchez,financial_institution_Sanchez-Robinson,financial_institution_Suarez,financial_institution_Swanson,financial_institution_Taylor,financial_institution_Thornton-Davis,financial_institution_Turner
0,0.5,0.352941,0.510801,1.0,0.760870,0.0,0.351852,0.941597,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.500000,0.124524,1.0,0.815217,1.0,0.592593,0.945173,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.5,0.500000,0.072427,1.0,0.760870,0.0,0.611111,0.846246,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.411765,0.137230,0.4,0.391304,1.0,0.425926,0.951132,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.205882,0.191868,0.4,0.521739,1.0,0.203704,0.914184,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [186]:
import pickle

In [190]:
x=pickle.load(open('loan_analytics_Vidhya_grb .pk','rb'))

In [193]:
indicator.shape

(35866, 43)

In [194]:
y=x.predict(indicator)

In [195]:
import numpy as np

In [196]:
np.unique(y)

array([0., 1.])

In [197]:
data_new = pd.read_csv('test.csv')

In [198]:
m13=pd.DataFrame(y)

In [199]:
data_new.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,1,Y,Browning-Hart,3.875,417000,360,01/02/12,Apr-12,75,1,...,0,0,0,0,0,0,0,0,0,0
1,2,X,OTHER,4.500,113000,360,01/02/12,Apr-12,80,2,...,0,0,0,0,0,0,0,0,0,0
2,3,Y,OTHER,4.500,72000,360,01/01/12,Mar-12,75,1,...,0,0,0,0,0,0,0,0,0,0
3,4,X,"Miller, Mcclure and Allen",4.125,123000,180,01/02/12,Apr-12,41,2,...,0,0,0,0,0,0,0,0,0,0
4,5,X,Browning-Hart,3.250,166000,180,01/02/12,Apr-12,53,2,...,0,0,0,0,0,0,0,0,0,0

In [200]:
data_new['m13']=m13

In [201]:
data_test = data_new[['loan_id','m13']]

In [202]:
data_test.to_csv('raveendra_loan_gba.csv')